In [1]:
import pandas as pd

from sklearn.tree import DecisionTreeRegressor # arvore de desições
from sklearn.model_selection import train_test_split # separador

import warnings

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel('teste.xlsx') # le os dados
data = data.drop(columns=["Unnamed: 0", "Unnamed: 0.1"]) # remove colunas criadas pelo excel
data = data.set_index("name") # renomeia o index para o nome do jogo

data.head(1) # visulaizar brevemente os dados obtidos

,english,developer,publisher,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price,...,god game,top-down,character customization,real-time with pause,bikes,survival,underwater,1980s,time management,mystery dungeon
name,,,,,,,,,,,,,,,,,,,,,
Counter-Strike,1,valve,valve,0,0,124534,3339,17612,317,7.19,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X = data.loc[:, ["positive_ratings", "negative_ratings", "average_playtime", "price"]] # Os X escolidos
y = data

y = y.drop(columns=["developer", "publisher"]) # remove colunas invalidas

y.head(1) # printa pequeno exemplo

,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price,owners min,owners max,...,god game,top-down,character customization,real-time with pause,bikes,survival,underwater,1980s,time management,mystery dungeon
name,,,,,,,,,,,,,,,,,,,,,
Counter-Strike,1,0,0,124534,3339,17612,317,7.19,10000000,20000000,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Separa os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% treino e 30% teste

In [6]:
# Cria o classificador
clf = DecisionTreeRegressor()

# Treina o classificador
clf = clf.fit(X_train, y_train)

In [7]:
# Calcula a acuracia do classificador
print("Accuracy:", clf.score(X_test, y_test))

Accuracy: 0.7276725083184573

.