In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import probplot, norm, t
import seaborn as sns
import numpy as np
%matplotlib inline

Para analise:
* X:positive_ratings, negative_ratings, price
* Y: tudo menos X + name, developer e publisher
* X = playtime

In [2]:
data = pd.read_csv('steam_processada_parcial.csv')
data.head()

,Unnamed: 0,name,english,developer,publisher,required_age,achievements,positive_ratings,negative_ratings,average_playtime,...,god game,top-down,character customization,real-time with pause,bikes,survival,underwater,1980s,time management,mystery dungeon
0,0,Counter-Strike,1,valve,valve,0,0,124534,3339,17612,...,0,0,0,0,0,0,0,0,0,0
1,1,Team Fortress Classic,1,valve,valve,0,0,3318,633,277,...,0,0,0,0,0,0,0,0,0,0
2,2,Day of Defeat,1,valve,valve,0,0,3416,398,187,...,0,0,0,0,0,0,0,0,0,0
3,3,Deathmatch Classic,1,valve,valve,0,0,1273,267,258,...,0,0,0,0,0,0,0,0,0,0
4,4,Half-Life: Opposing Force,1,gearbox software,valve,0,0,5250,288,624,...,0,0,0,0,0,0,0,0,0,0

In [3]:
colunas = ['positive_ratings', 'negative_ratings', 'price']

In [4]:
#vamos analizar somente as colunas: positive_ratings, negative_ratings, price
data.loc[:, colunas].head()

   positive_ratings  negative_ratings  price
0            124534              3339   7.19
1              3318               633   3.99
2              3416               398   3.99
3              1273               267   3.99
4              5250               288   3.99

In [5]:
x_vars = 'playtime'

In [6]:
y_vars = list(data.columns)
y_vars.append('name')
y_vars.append('developer')
y_vars.append('publisher')
y_vars.remove('positive_ratings')
y_vars.remove('negative_ratings')
y_vars.remove('price')

In [ ]:
sns.set(style='ticks')
sns.pairplot(data, hue='Unnamed: 0', kind='reg', x_vars=x_vars, y_vars=y_vars)